flows/flows.json
[
  {
    "id": "his-flow-main",
    "type": "tab",
    "label": "HIS Main",
    "disabled": false,
    "info": "Home Information System — main flow"
  },
  {
    "id": "pb-flow-main",
    "type": "tab",
    "label": "Photo Booth",
    "disabled": false,
    "info": "Photo Booth — MQTT triggered capture"
  },
  {
    "id": "v2-ui-base",
    "type": "ui-base",
    "name": "HIS Dashboard",
    "path": "/dashboard",
    "appIcon": "",
    "includeClientData": true,
    "acceptsClientConfig": [
      "ui-notification",
      "ui-control"
    ],
    "showPathInSidebar": false,
    "headerContent": "page",
    "navigationStyle": "default",
    "titleBarStyle": "default",
    "showReconnectNotification": true,
    "notificationDisplayTime": 5,
    "showDisconnectNotification": true,
    "allowInstall": true
  },
  {
    "id": "v2-page-pth",
    "type": "ui-page",
    "name": "PTH Charts",
    "ui": "v2-ui-base",
    "path": "/pth",
    "icon": "show_chart",
    "layout": "notebook",
    "theme": "8caffb684107c6b6",
    "breakpoints": [
      {
        "name": "Default",
        "px": "0",
        "cols": "3"
      },
      {
        "name": "Tablet",
        "px": "576",
        "cols": "6"
      },
      {
        "name": "Small Desktop",
        "px": "768",
        "cols": "9"
      },
      {
        "name": "Desktop",
        "px": "1024",
        "cols": "12"
      }
    ],
    "order": 1,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "v2-page-overview",
    "type": "ui-page",
    "name": "Home Overview",
    "ui": "v2-ui-base",
    "path": "/overview",
    "icon": "home",
    "layout": "notebook",
    "theme": "8caffb684107c6b6",
    "order": 2
  },
  {
    "id": "v2-page-alarms",
    "type": "ui-page",
    "name": "Alarms",
    "ui": "v2-ui-base",
    "path": "/alarms",
    "icon": "warning",
    "layout": "notebook",
    "theme": "8caffb684107c6b6",
    "order": 3
  },
  {
    "id": "v2-page-frontdoor",
    "type": "ui-page",
    "name": "Front Door",
    "ui": "v2-ui-base",
    "path": "/frontdoor",
    "icon": "camera_alt",
    "layout": "notebook",
    "theme": "8caffb684107c6b6",
    "order": 4
  },
  {
    "id": "v2-page-pb",
    "type": "ui-page",
    "name": "Photo Booth",
    "ui": "v2-ui-base",
    "path": "/photobooth",
    "icon": "photo_camera",
    "layout": "notebook",
    "theme": "8caffb684107c6b6",
    "order": 5
  },
  {
    "id": "v2-grp-pressure",
    "type": "ui-group",
    "name": "Pressure (PSI)",
    "page": "v2-page-pth",
    "width": "12",
    "height": "1",
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": false
  },
  {
    "id": "v2-grp-temp",
    "type": "ui-group",
    "name": "Temperature (°F)",
    "page": "v2-page-pth",
    "width": "12",
    "height": "1",
    "order": 2,
    "showTitle": true,
    "className": "",
    "visible": "true"
  },
  {
    "id": "v2-grp-faults",
    "type": "ui-group",
    "name": "Sensor Fault Counts",
    "page": "v2-page-pth",
    "width": "12",
    "height": "1",
    "order": 3,
    "showTitle": true,
    "className": "",
    "visible": "true",
    "disabled": false
  },
  {
    "id": "v2-grp-status",
    "type": "ui-group",
    "name": "Node Status",
    "page": "v2-page-pth",
    "width": "12",
    "height": "1",
    "order": 4,
    "showTitle": true,
    "className": "",
    "visible": true,
    "disabled": false
  },
  {
    "id": "v2-grp-doors",
    "type": "ui-group",
    "name": "Doors & Windows",
    "page": "v2-page-overview",
    "width": "6",
    "height": "1",
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": "true"
  },
  {
    "id": "v2-grp-motion",
    "type": "ui-group",
    "name": "Motion",
    "page": "v2-page-overview",
    "width": "6",
    "height": "1",
    "order": 2,
    "showTitle": true,
    "className": "",
    "visible": "true"
  },
  {
    "id": "v2-grp-photo",
    "type": "ui-group",
    "name": "Current Photo",
    "page": "v2-page-overview",
    "width": "12",
    "height": "1",
    "order": 3,
    "showTitle": true,
    "className": "",
    "visible": "true"
  },
  {
    "id": "v2-grp-gas",
    "type": "ui-group",
    "name": "Smoke / CO",
    "page": "v2-page-alarms",
    "width": "12",
    "height": "1",
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": "true"
  },
  {
    "id": "v2-grp-visitor",
    "type": "ui-group",
    "name": "Visitor",
    "page": "v2-page-frontdoor",
    "width": "12",
    "height": "1",
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": "true"
  },
  {
    "id": "v2-grp-pb-cam",
    "type": "ui-group",
    "name": "Camera",
    "page": "v2-page-pb",
    "width": "12",
    "height": "1",
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": "true"
  },
  {
    "id": "his-broker",
    "type": "mqtt-broker",
    "name": "Mosquitto Local",
    "broker": "localhost",
    "port": "1883",
    "clientid": "nodered-his-hub",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "8caffb684107c6b6",
    "type": "ui-theme",
    "name": "Scheme_Theme",
    "colors": {
      "surface": "#135058",
      "primary": "#bee4f4",
      "bgPage": "#4a7b82",
      "groupBg": "#b5bbc9",
      "groupOutline": "#cccccc"
    },
    "sizes": {
      "density": "default",
      "pagePadding": "12px",
      "groupGap": "12px",
      "groupBorderRadius": "4px",
      "widgetGap": "12px"
    }
  },
  {
    "id": "his-mqtt-pth",
    "type": "mqtt in",
    "z": "his-flow-main",
    "name": "home/+/pth",
    "topic": "home/+/pth",
    "qos": "0",
    "datatype": "json",
    "broker": "his-broker",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 160,
    "y": 120,
    "wires": [
      [
        "his-fn-grubbs",
        "his-fn-lastseen"
      ]
    ]
  },
  {
    "id": "his-fn-grubbs",
    "type": "function",
    "z": "his-flow-main",
    "name": "Grubbs filter",
    "func": "var N=20,N_MIN=16;\nvar G_CRIT={3:1.155,4:1.481,5:1.715,6:1.887,7:2.020,8:2.126,9:2.215,10:2.290,11:2.355,12:2.412,13:2.462,14:2.507,15:2.549,16:2.585,17:2.620,18:2.651,19:2.681,20:2.709,25:2.822,30:2.908};\nfunction gcrit(n){if(G_CRIT[n])return G_CRIT[n];var k=Object.keys(G_CRIT).map(Number).sort(function(a,b){return a-b;});for(var i=0;i<k.length-1;i++){if(n>=k[i]&&n<=k[i+1]){var t=(n-k[i])/(k[i+1]-k[i]);return G_CRIT[k[i]]+t*(G_CRIT[k[i+1]]-G_CRIT[k[i]]);}}return G_CRIT[20];}\nfunction grubbs(win,val){var n=win.length;if(n<N_MIN)return false;var mean=win.reduce(function(a,b){return a+b;},0)/n;var std=Math.sqrt(win.reduce(function(a,b){return a+Math.pow(b-mean,2);},0)/(n-1));if(std<1e-10)return false;return(Math.abs(val-mean)/std)>gcrit(n);}\nvar nodeId=msg.topic.split('/')[1];\nvar d=msg.payload;\nvar key='grubbs_'+nodeId;\nvar st=flow.get(key)||{P:{win:[],faults:0},T:{win:[],faults:0},RH:{win:[],faults:0}};\nvar anyFault=false;\nvar result={};\n['P','T','RH'].forEach(function(p){var s=st[p],v=d[p];if(typeof v!=='number'||isNaN(v)){result[p]={outlier:true};s.faults++;anyFault=true;return;}if(grubbs(s.win,v)){result[p]={outlier:true};s.faults++;anyFault=true;}else{s.win.push(v);if(s.win.length>N)s.win.shift();result[p]={outlier:false,value:v};}});\nflow.set(key,st);\nfunction mk(p){var r=result[p];if(r.outlier)return null;return{topic:anyFault?nodeId+'-c':nodeId,payload:r.value,_nodeId:nodeId};}\nreturn[mk('P'),mk('T'),mk('RH'),{payload:{nodeId:nodeId,P:st.P.faults,T:st.T.faults,RH:st.RH.faults}}];",
    "outputs": 4,
    "noerr": 0,
    "x": 380,
    "y": 120,
    "wires": [
      [
        "his-fn-p-diffs"
      ],
      [
        "v2-chart-temp"
      ],
      [
        "his-fn-rh-summary"
      ],
      [
        "his-fn-fault-collect"
      ]
    ]
  },
  {
    "id": "his-fn-rh-summary",
    "type": "function",
    "z": "his-flow-main",
    "name": "RH summary",
    "func": "var nodeId=msg._nodeId||msg.topic.replace(/-c$/,'');var latest=flow.get('rh_latest')||{};latest[nodeId]=msg.payload;flow.set('rh_latest',latest);var nodes=['bills-office','mud-room','garage'];var labels={'bills-office':'Bills Office','mud-room':'Mud Room','garage':'Garage'};var readings=nodes.map(function(n){return{label:labels[n],value:latest[n]!==undefined?latest[n].toFixed(1)+'%':'--'};});msg.payload=readings;return msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 160,
    "wires": [
      [
        "v2-tmpl-rh"
      ]
    ]
  },
  {
    "id": "his-fn-p-diffs",
    "type": "function",
    "z": "his-flow-main",
    "name": "P differences",
    "func": "var STALE_MS=300000,N_CONF_MIN=16,WIN=60,TREND_WIN=30,TREND_THRESH=0.003;\nvar nodeId=msg._nodeId||msg.topic.replace(/-c$/,'');\nvar latest=flow.get('p_latest')||{};\nlatest[nodeId]={v:msg.payload,t:Date.now()};\nflow.set('p_latest',latest);\nvar nodes=['bills-office','mud-room','garage'];\nif(!nodes.every(function(n){return latest[n];}))return null;\nvar stats=flow.get('p_diff_stats')||{'BO-MR':{win:[],mean:0,std:0},'BO-GA':{win:[],mean:0,std:0},'MR-GA':{win:[],mean:0,std:0}};\nvar pairs={'BO-MR':latest['bills-office'].v-latest['mud-room'].v,'BO-GA':latest['bills-office'].v-latest['garage'].v,'MR-GA':latest['mud-room'].v-latest['garage'].v};\nObject.keys(pairs).forEach(function(k){var d=pairs[k],s=stats[k];s.win.push(d);if(s.win.length>WIN)s.win.shift();var n=s.win.length;s.mean=s.win.reduce(function(a,b){return a+b;},0)/n;s.std=n>1?Math.sqrt(s.win.reduce(function(a,b){return a+Math.pow(b-s.mean,2);},0)/(n-1)):0;});\nflow.set('p_diff_stats',stats);\nvar now=Date.now();\nvar primary=null,primaryNode=null;\nfor(var i=0;i<nodes.length;i++){var e=latest[nodes[i]];if(e&&(now-e.t)<STALE_MS){primary=e.v;primaryNode=nodes[i];break;}}\nif(primary===null)return null;\nvar tb=flow.get('p_trend_buf')||[];\ntb.push({v:primary,t:now});if(tb.length>TREND_WIN)tb.shift();\nflow.set('p_trend_buf',tb);\nvar trendStr='→ stable';\nif(tb.length>=2){var dt=(tb[tb.length-1].t-tb[0].t)/3600000;var dv=tb[tb.length-1].v-tb[0].v;var rate=dt>0?dv/dt:0;if(rate>TREND_THRESH)trendStr='↑ +'+rate.toFixed(3)+' PSI/hr';else if(rate<-TREND_THRESH)trendStr='↓ '+rate.toFixed(3)+' PSI/hr';}\nvar minN=Math.min.apply(null,Object.keys(stats).map(function(k){return stats[k].win.length;}));\nvar confStr='calibrating (N='+minN+'/16)';\nif(minN>=N_CONF_MIN){var maxStd=Math.max.apply(null,Object.keys(stats).map(function(k){return stats[k].std;}));var pct=(3*maxStd/primary)*100;confStr='± '+pct.toFixed(2)+'%';}\nmsg.payload={pressure:primary.toFixed(3),source:primaryNode,trend:trendStr,conf:confStr};\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 220,
    "wires": [
      [
        "v2-tmpl-pressure"
      ]
    ]
  },
  {
    "id": "his-fn-fault-collect",
    "type": "function",
    "z": "his-flow-main",
    "name": "collect faults",
    "func": "var d=msg.payload;\nvar counts=flow.get('fault_counts')||{};\n['bills-office','mud-room','garage'].forEach(function(n){if(!counts[n])counts[n]={P:0,T:0,RH:0};});\ncounts[d.nodeId]={P:d.P,T:d.T,RH:d.RH};\nflow.set('fault_counts',counts);\nmsg.payload=counts;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 620,
    "y": 300,
    "wires": [
      [
        "v2-tmpl-faults"
      ]
    ]
  },
  {
    "id": "his-mqtt-door",
    "type": "mqtt in",
    "z": "his-flow-main",
    "name": "home/+/door",
    "topic": "home/+/door",
    "qos": "1",
    "datatype": "json",
    "broker": "his-broker",
    "nl": false,
    "rap": true,
    "inputs": 0,
    "x": 160,
    "y": 420,
    "wires": [
      [
        "his-fn-door-text"
      ]
    ]
  },
  {
    "id": "his-fn-door-text",
    "type": "function",
    "z": "his-flow-main",
    "name": "format door",
    "func": "var icon = msg.payload.state === 'open' ? 'ὑ3 OPEN' : 'ὑ2 closed';\nmsg.topic = msg.payload.device;\nmsg.payload = icon + '  (' + msg.topic + ')';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 380,
    "y": 420,
    "wires": [
      [
        "v2-text-door"
      ]
    ]
  },
  {
    "id": "his-mqtt-motion",
    "type": "mqtt in",
    "z": "his-flow-main",
    "name": "home/+/motion",
    "topic": "home/+/motion",
    "qos": "0",
    "datatype": "json",
    "broker": "his-broker",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 160,
    "y": 480,
    "wires": [
      [
        "his-fn-motion-text"
      ]
    ]
  },
  {
    "id": "his-fn-motion-text",
    "type": "function",
    "z": "his-flow-main",
    "name": "format motion",
    "func": "var icon = msg.payload.state === 'detected' ? 'Ὢ8 DETECTED' : '✅ clear';\nmsg.topic = msg.payload.device;\nmsg.payload = icon + '  (' + msg.topic + ')';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 380,
    "y": 480,
    "wires": [
      [
        "v2-text-motion"
      ]
    ]
  },
  {
    "id": "his-mqtt-alarm",
    "type": "mqtt in",
    "z": "his-flow-main",
    "name": "home/+/alarm",
    "topic": "home/+/alarm",
    "qos": "1",
    "datatype": "json",
    "broker": "his-broker",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 160,
    "y": 580,
    "wires": [
      [
        "his-fn-alarm-gauge",
        "his-fn-alarm-check"
      ]
    ]
  },
  {
    "id": "his-fn-alarm-gauge",
    "type": "function",
    "z": "his-flow-main",
    "name": "smoke level",
    "func": "msg.topic = msg.payload.device;\nmsg.payload = msg.payload.smoke;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 380,
    "y": 560,
    "wires": [
      [
        "v2-gauge-smoke"
      ]
    ]
  },
  {
    "id": "his-fn-alarm-check",
    "type": "function",
    "z": "his-flow-main",
    "name": "alert if true",
    "func": "if (msg.payload.alert === true) {\n    msg.payload = 'Ὢ8 ALARM: ' + msg.payload.type.toUpperCase() + ' — node: ' + msg.payload.device;\n    return msg;\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 380,
    "y": 620,
    "wires": [
      [
        "v2-text-alarm"
      ]
    ]
  },
  {
    "id": "his-mqtt-visitor",
    "type": "mqtt in",
    "z": "his-flow-main",
    "name": "home/frontdoor/visitor",
    "topic": "home/frontdoor/visitor",
    "qos": "0",
    "datatype": "json",
    "broker": "his-broker",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 180,
    "y": 720,
    "wires": [
      [
        "his-fn-visitor-text"
      ]
    ]
  },
  {
    "id": "his-fn-visitor-text",
    "type": "function",
    "z": "his-flow-main",
    "name": "visitor label",
    "func": "var trig = msg.payload.trigger === 'button' ? 'ὑ4 Doorbell' : '὆4 Motion';\nvar ts = new Date().toLocaleTimeString();\nmsg.payload = trig + '  @ ' + ts;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 420,
    "y": 720,
    "wires": [
      [
        "v2-text-visitor"
      ]
    ]
  },
  {
    "id": "his-mqtt-image",
    "type": "mqtt in",
    "z": "his-flow-main",
    "name": "home/frontdoor/image",
    "topic": "home/frontdoor/image",
    "qos": "0",
    "datatype": "buffer",
    "broker": "his-broker",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 180,
    "y": 780,
    "wires": [
      [
        "his-fn-image-b64"
      ]
    ]
  },
  {
    "id": "his-fn-image-b64",
    "type": "function",
    "z": "his-flow-main",
    "name": "JPEG → base64 img",
    "func": "msg.payload = msg.payload.toString('base64');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 780,
    "wires": [
      [
        "v2-tmpl-frontdoor"
      ]
    ]
  },
  {
    "id": "his-fn-lastseen",
    "type": "function",
    "z": "his-flow-main",
    "name": "update last seen",
    "func": "var nodeId = msg.topic.split('/')[1];\nvar ls = flow.get('node_lastseen') || {};\nls[nodeId] = Date.now();\nflow.set('node_lastseen', ls);\nreturn null;",
    "outputs": 0,
    "noerr": 0,
    "x": 380,
    "y": 160,
    "wires": []
  },
  {
    "id": "his-inject-watchdog",
    "type": "inject",
    "z": "his-flow-main",
    "name": "watchdog tick",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "60",
    "crontab": "",
    "once": true,
    "onceDelay": 10,
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 1060,
    "wires": [
      [
        "his-fn-watchdog"
      ]
    ]
  },
  {
    "id": "his-fn-watchdog",
    "type": "function",
    "z": "his-flow-main",
    "name": "check node health",
    "func": "var STALE_MS = 300000;\nvar nodes = ['bills-office','mud-room','garage'];\nvar labels = {'bills-office':'Bills Office','mud-room':'Mud Room','garage':'Garage'};\nvar ls = flow.get('node_lastseen') || {};\nvar now = Date.now();\nvar rows = nodes.map(function(n) {\n    var t = ls[n];\n    if (!t) return {node: labels[n], age: 'never', ok: false};\n    var age = Math.floor((now - t) / 1000);\n    return {node: labels[n], age: age + 's ago', ok: age < (STALE_MS/1000)};\n});\nmsg.payload = rows;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 420,
    "y": 1060,
    "wires": [
      [
        "v2-tmpl-status"
      ]
    ]
  },
  {
    "id": "his-inject-reset-bo",
    "type": "inject",
    "z": "his-flow-main",
    "name": "Reset bills-office",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "payload": "bills-office",
    "payloadType": "str",
    "x": 200,
    "y": 880,
    "wires": [
      [
        "his-fn-grubbs-reset"
      ]
    ]
  },
  {
    "id": "his-inject-reset-mr",
    "type": "inject",
    "z": "his-flow-main",
    "name": "Reset mud-room",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "payload": "mud-room",
    "payloadType": "str",
    "x": 200,
    "y": 920,
    "wires": [
      [
        "his-fn-grubbs-reset"
      ]
    ]
  },
  {
    "id": "his-inject-reset-ga",
    "type": "inject",
    "z": "his-flow-main",
    "name": "Reset garage",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "payload": "garage",
    "payloadType": "str",
    "x": 200,
    "y": 960,
    "wires": [
      [
        "his-fn-grubbs-reset"
      ]
    ]
  },
  {
    "id": "his-inject-reset-all",
    "type": "inject",
    "z": "his-flow-main",
    "name": "Reset ALL",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "payload": "ALL",
    "payloadType": "str",
    "x": 200,
    "y": 1000,
    "wires": [
      [
        "his-fn-grubbs-reset"
      ]
    ]
  },
  {
    "id": "his-fn-grubbs-reset",
    "type": "function",
    "z": "his-flow-main",
    "name": "reset Grubbs state",
    "func": "var nodes = ['bills-office','mud-room','garage'];\nvar counts = flow.get('fault_counts') || {};\nnodes.forEach(function(n){ if(!counts[n]) counts[n]={P:0,T:0,RH:0}; });\nif (msg.payload === 'ALL') {\n    nodes.forEach(function(n) { flow.set('grubbs_' + n, null); counts[n]={P:0,T:0,RH:0}; });\n    flow.set('p_latest', null);\n    flow.set('p_diff_stats', null);\n    flow.set('p_trend_buf', null);\n    node.warn('Grubbs reset: ALL nodes');\n} else {\n    flow.set('grubbs_' + msg.payload, null);\n    counts[msg.payload] = {P:0, T:0, RH:0};\n    node.warn('Grubbs reset: ' + msg.payload);\n}\nflow.set('fault_counts', counts);\nreturn null;",
    "outputs": 0,
    "noerr": 0,
    "x": 480,
    "y": 940,
    "wires": []
  },
  {
    "id": "his-mqtt-display-photo",
    "type": "mqtt in",
    "z": "his-flow-main",
    "name": "home/display/photo",
    "topic": "home/display/photo",
    "qos": "0",
    "datatype": "buffer",
    "broker": "his-broker",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 180,
    "y": 840,
    "wires": [
      [
        "his-fn-display-b64"
      ]
    ]
  },
  {
    "id": "his-fn-display-b64",
    "type": "function",
    "z": "his-flow-main",
    "name": "JPEG to base64",
    "func": "msg.payload = msg.payload.toString(\"base64\");\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 420,
    "y": 840,
    "wires": [
      [
        "v2-tmpl-photo"
      ]
    ]
  },
  {
    "id": "his-http-capture",
    "type": "http in",
    "z": "his-flow-main",
    "name": "POST /capture",
    "url": "/capture",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 180,
    "y": 900,
    "wires": [
      [
        "his-fn-capture-proc"
      ]
    ]
  },
  {
    "id": "his-fn-capture-proc",
    "type": "function",
    "z": "his-flow-main",
    "name": "JPEG to display",
    "func": "var b64 = msg.payload.toString(\"base64\");\nvar imgMsg = {payload: b64};\nvar respMsg = {payload: \"OK\", statusCode: 200, req: msg.req, res: msg.res};\nreturn [imgMsg, respMsg];",
    "outputs": 2,
    "noerr": 0,
    "x": 420,
    "y": 900,
    "wires": [
      [
        "v2-tmpl-photo",
        "v2-tmpl-frontdoor"
      ],
      [
        "his-http-resp-capture"
      ]
    ]
  },
  {
    "id": "his-http-resp-capture",
    "type": "http response",
    "z": "his-flow-main",
    "name": "200 OK",
    "statusCode": "200",
    "headers": {},
    "x": 680,
    "y": 940,
    "wires": []
  },
  {
    "id": "v2-tmpl-pressure",
    "type": "ui-template",
    "z": "his-flow-main",
    "group": "v2-grp-pressure",
    "page": "",
    "ui": "",
    "name": "Pressure Summary",
    "order": 1,
    "width": "12",
    "height": "7",
    "format": "<template>\n  <div class=\"ps\">\n    <div class=\"ps-val\">{{ msg && msg.payload ? msg.payload.pressure + ' PSI' : '-- PSI' }}</div>\n    <div class=\"ps-trend\">{{ msg && msg.payload ? msg.payload.trend : 'waiting for sensors...' }}</div>\n    <div class=\"ps-conf\">{{ msg && msg.payload ? 'Confidence: ' + msg.payload.conf : '' }}</div>\n    <div class=\"ps-src\">{{ msg && msg.payload ? 'Source: ' + msg.payload.source : '' }}</div>\n  </div>\n</template>\n<style scoped>\n.ps { font-family: monospace; padding: 10px }\n.ps-val { font-size: 2.8em; font-weight: bold; color: #0eb8c0 }\n.ps-trend { font-size: 1.6em; color: var(--nrdb-widget-textColor, #eeeeee); margin-top: 6px }\n.ps-conf { font-size: 1.4em; color: var(--nrdb-widget-textColor, #aaaaaa); margin-top: 4px }\n.ps-src { font-size: 1.2em; color: var(--nrdb-widget-textColor, #aaaaaa); margin-top: 4px }\n</style>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 850,
    "y": 220,
    "wires": [
      []
    ]
  },
  {
    "id": "v2-tmpl-rh",
    "type": "ui-template",
    "z": "his-flow-main",
    "group": "v2-grp-pressure",
    "page": "",
    "ui": "",
    "name": "Humidity Summary",
    "order": 2,
    "width": "12",
    "height": "3",
    "format": "<template>\n  <div v-if=\"msg && msg.payload\" class=\"rhs\">\n    <div v-for=\"r in msg.payload\" :key=\"r.label\" class=\"rhs-row\">\n      <span class=\"rhs-node\">{{ r.label }}</span>\n      <span class=\"rhs-val\">{{ r.value }}</span>\n    </div>\n  </div>\n</template>\n<style scoped>\n.rhs { font-family: monospace; padding: 10px }\n.rhs-row { display: flex; justify-content: space-between; padding: 4px 0; border-bottom: 1px solid #0d162b }\n.rhs-node { font-size: 1.4em; color: #0d162b }\n.rhs-val { font-size: 1.6em; font-weight: bold; color: #0d162b }\n</style>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 840,
    "y": 160,
    "wires": [
      []
    ]
  },
  {
    "id": "v2-chart-temp",
    "type": "ui-chart",
    "z": "his-flow-main",
    "group": "v2-grp-temp",
    "name": "Temperature",
    "label": "Temperature (°F)",
    "order": 1,
    "chartType": "line",
    "category": "topic",
    "categoryType": "msg",
    "xAxisType": "time",
    "xAxisFormat": "",
    "yAxisPropertyType": "property",
    "ymin": "55",
    "ymax": "75",
    "action": "append",
    "removeOlder": "30",
    "removeOlderUnit": "60",
    "removeOlderPoints": "",
    "colors": [
      "#1f77b4",
      "#ff7f0e",
      "#2ca02c",
      "#d62728",
      "#9467bd",
      "#aec7e8",
      "#ffbb78",
      "#98df8a"
    ],
    "width": "12",
    "height": "6",
    "interpolation": "linear",
    "x": 830,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "v2-tmpl-faults",
    "type": "ui-template",
    "z": "his-flow-main",
    "group": "v2-grp-faults",
    "page": "",
    "ui": "",
    "name": "Fault Counts",
    "order": 1,
    "width": "12",
    "height": "4",
    "format": "<template>\n  <div v-if=\"msg && msg.payload\" class=\"fc\">\n    <table>\n      <thead><tr><th>Node</th><th>P</th><th>T</th><th>RH</th></tr></thead>\n      <tbody>\n        <tr v-if=\"msg.payload['bills-office']\">\n          <td class=\"name\">Bills Office</td>\n          <td :class=\"msg.payload['bills-office'].P > 0 ? 'warn' : 'ok'\" class=\"ctr\">{{ msg.payload['bills-office'].P }}</td>\n          <td :class=\"msg.payload['bills-office'].T > 0 ? 'warn' : 'ok'\" class=\"ctr\">{{ msg.payload['bills-office'].T }}</td>\n          <td :class=\"msg.payload['bills-office'].RH > 0 ? 'warn' : 'ok'\" class=\"ctr\">{{ msg.payload['bills-office'].RH }}</td>\n        </tr>\n        <tr v-if=\"msg.payload['mud-room']\">\n          <td class=\"name\">Mud Room</td>\n          <td :class=\"msg.payload['mud-room'].P > 0 ? 'warn' : 'ok'\" class=\"ctr\">{{ msg.payload['mud-room'].P }}</td>\n          <td :class=\"msg.payload['mud-room'].T > 0 ? 'warn' : 'ok'\" class=\"ctr\">{{ msg.payload['mud-room'].T }}</td>\n          <td :class=\"msg.payload['mud-room'].RH > 0 ? 'warn' : 'ok'\" class=\"ctr\">{{ msg.payload['mud-room'].RH }}</td>\n        </tr>\n        <tr v-if=\"msg.payload['garage']\">\n          <td class=\"name\">Garage</td>\n          <td :class=\"msg.payload['garage'].P > 0 ? 'warn' : 'ok'\" class=\"ctr\">{{ msg.payload['garage'].P }}</td>\n          <td :class=\"msg.payload['garage'].T > 0 ? 'warn' : 'ok'\" class=\"ctr\">{{ msg.payload['garage'].T }}</td>\n          <td :class=\"msg.payload['garage'].RH > 0 ? 'warn' : 'ok'\" class=\"ctr\">{{ msg.payload['garage'].RH }}</td>\n        </tr>\n      </tbody>\n    </table>\n  </div>\n</template>\n<style scoped>\n.fc { font-family: monospace; font-size: 13px }\n.fc table { width: 100%; border-collapse: collapse }\n.fc th, .fc td { padding: 4px 10px; border-bottom: 1px solid #0d162b }\n.fc th { text-align: center; color: #0d162b }\n.name { text-align: left }\n.ctr { text-align: center }\n.ok { color: #0d162b }\n.warn { color: #0d162b }\n</style>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 840,
    "y": 300,
    "wires": [
      []
    ]
  },
  {
    "id": "v2-tmpl-status",
    "type": "ui-template",
    "z": "his-flow-main",
    "group": "v2-grp-status",
    "page": "",
    "ui": "",
    "name": "Node Status",
    "order": 1,
    "width": "12",
    "height": "3",
    "format": "<template>\n  <div v-if=\"msg && msg.payload\" class=\"ns\">\n    <table>\n      <thead><tr><th>Node</th><th>Last seen</th><th>Status</th></tr></thead>\n      <tbody>\n        <tr v-for=\"r in msg.payload\" :key=\"r.node\">\n          <td>{{ r.node }}</td>\n          <td>{{ r.age }}</td>\n          <td><span class=\"dot\" :style=\"{background: r.ok ? '#2ca02c' : '#d62728'}\"></span>{{ r.ok ? 'OK' : 'DOWN' }}</td>\n        </tr>\n      </tbody>\n    </table>\n  </div>\n</template>\n<style scoped>\n.ns { font-family: monospace; font-size: 13px }\n.ns table { width: 100%; border-collapse: collapse }\n.ns th, .ns td { padding: 4px 12px; border-bottom: 1px solid #444 }\n.ns th { color: #0d162b; text-align: left }\n.dot { display: inline-block; width: 10px; height: 10px; border-radius: 50%; margin-right: 6px }\n</style>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 680,
    "y": 1060,
    "wires": [
      []
    ]
  },
  {
    "id": "v2-text-door",
    "type": "ui-text",
    "z": "his-flow-main",
    "group": "v2-grp-doors",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "Door Status",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "style": false,
    "className": "",
    "x": 600,
    "y": 420,
    "wires": []
  },
  {
    "id": "v2-text-motion",
    "type": "ui-text",
    "z": "his-flow-main",
    "group": "v2-grp-motion",
    "order": 1,
    "width": "6",
    "height": "1",
    "name": "Motion Status",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "style": false,
    "className": "",
    "x": 600,
    "y": 480,
    "wires": []
  },
  {
    "id": "v2-tmpl-photo",
    "type": "ui-template",
    "z": "his-flow-main",
    "group": "v2-grp-photo",
    "name": "Current Photo",
    "order": 1,
    "width": "12",
    "height": "9",
    "format": "<template>\n  <img v-if=\"msg && msg.payload\"\n       :src=\"'data:image/jpeg;base64,' + msg.payload\"\n       style=\"max-width:100%;border-radius:4px\" />\n</template>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 680,
    "y": 840,
    "wires": [
      []
    ]
  },
  {
    "id": "v2-gauge-smoke",
    "type": "ui-template",
    "z": "his-flow-main",
    "group": "v2-grp-gas",
    "name": "Smoke Level",
    "order": 1,
    "width": "6",
    "height": "4",
    "format": "<template>\n  <div v-if=\"msg !== undefined\" class=\"gw\">\n    <div class=\"gv\" :style=\"{color: (msg.payload||0) > 2500 ? '#e60000' : (msg.payload||0) > 1500 ? '#e6e600' : '#00b500'}\">\n      {{ msg.payload || 0 }}\n    </div>\n    <div class=\"gl\">Smoke ADC (0–4095)</div>\n    <div class=\"gb\">\n      <div class=\"gf\" :style=\"{width: Math.min(100,(msg.payload||0)/4095*100)+'%',\n        background: (msg.payload||0) > 2500 ? '#e60000' : (msg.payload||0) > 1500 ? '#e6e600' : '#00b500'}\"></div>\n    </div>\n  </div>\n</template>\n<style scoped>\n.gw { font-family: monospace; padding: 10px }\n.gv { font-size: 3em; font-weight: bold; text-align: center }\n.gl { text-align: center; color: #aaa; font-size: 0.9em; margin: 4px 0 8px }\n.gb { background: #333; border-radius: 4px; height: 20px; overflow: hidden }\n.gf { height: 100%; transition: width 0.3s, background 0.3s }\n</style>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 600,
    "y": 560,
    "wires": [
      []
    ]
  },
  {
    "id": "v2-text-alarm",
    "type": "ui-text",
    "z": "his-flow-main",
    "group": "v2-grp-gas",
    "order": 2,
    "width": "12",
    "height": "1",
    "name": "Alarm Banner",
    "label": "⚠ Alert",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "style": false,
    "className": "",
    "x": 600,
    "y": 620,
    "wires": []
  },
  {
    "id": "v2-text-visitor",
    "type": "ui-text",
    "z": "his-flow-main",
    "group": "v2-grp-visitor",
    "order": 1,
    "width": "12",
    "height": "1",
    "name": "Last Visitor",
    "label": "Last event",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "style": false,
    "className": "",
    "x": 640,
    "y": 720,
    "wires": []
  },
  {
    "id": "v2-tmpl-frontdoor",
    "type": "ui-template",
    "z": "his-flow-main",
    "group": "v2-grp-visitor",
    "name": "Visitor Snapshot",
    "order": 2,
    "width": "12",
    "height": "9",
    "format": "<template>\n  <img v-if=\"msg && msg.payload\"\n       :src=\"'data:image/jpeg;base64,' + msg.payload\"\n       style=\"max-width:100%;border-radius:4px\" />\n</template>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 680,
    "y": 780,
    "wires": [
      []
    ]
  },
  {
    "id": "pb-mqtt-trigger",
    "type": "mqtt out",
    "z": "pb-flow-main",
    "name": "photobooth/trigger",
    "topic": "home/photobooth/trigger",
    "qos": "0",
    "retain": "false",
    "broker": "his-broker",
    "x": 380,
    "y": 100,
    "wires": []
  },
  {
    "id": "pb-mqtt-image",
    "type": "mqtt in",
    "z": "pb-flow-main",
    "name": "home/photobooth/image",
    "topic": "home/photobooth/image",
    "qos": "0",
    "datatype": "buffer",
    "broker": "his-broker",
    "nl": false,
    "rap": false,
    "inputs": 0,
    "x": 160,
    "y": 220,
    "wires": [
      [
        "pb-fn-image-b64",
        "pb-fn-ts"
      ]
    ]
  },
  {
    "id": "pb-fn-image-b64",
    "type": "function",
    "z": "pb-flow-main",
    "name": "JPEG → base64",
    "func": "msg.payload = msg.payload.toString('base64');\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 380,
    "y": 200,
    "wires": [
      [
        "v2-tmpl-pb"
      ]
    ]
  },
  {
    "id": "pb-fn-ts",
    "type": "function",
    "z": "pb-flow-main",
    "name": "timestamp",
    "func": "msg.payload = 'Last capture: ' + new Date().toLocaleTimeString();\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 360,
    "y": 260,
    "wires": [
      [
        "v2-text-pb-status"
      ]
    ]
  },
  {
    "id": "v2-btn-capture",
    "type": "ui-button",
    "z": "pb-flow-main",
    "group": "v2-grp-pb-cam",
    "name": "Capture",
    "label": "Capture",
    "order": 1,
    "width": "4",
    "height": "1",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "camera_alt",
    "iconPosition": "left",
    "payload": "go",
    "payloadType": "str",
    "topic": "",
    "topicType": "str",
    "x": 160,
    "y": 100,
    "wires": [
      [
        "pb-mqtt-trigger"
      ]
    ]
  },
  {
    "id": "v2-text-pb-status",
    "type": "ui-text",
    "z": "pb-flow-main",
    "group": "v2-grp-pb-cam",
    "order": 2,
    "width": "8",
    "height": "1",
    "name": "Capture Status",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-left",
    "style": false,
    "className": "",
    "x": 580,
    "y": 260,
    "wires": []
  },
  {
    "id": "v2-tmpl-pb",
    "type": "ui-template",
    "z": "pb-flow-main",
    "group": "v2-grp-pb-cam",
    "name": "Snapshot",
    "order": 3,
    "width": "12",
    "height": "9",
    "format": "<template>\n  <img v-if=\"msg && msg.payload\"\n       :src=\"'data:image/jpeg;base64,' + msg.payload\"\n       style=\"max-width:100%;border-radius:4px\" />\n</template>",
    "storeOutMessages": true,
    "passthru": false,
    "resendOnRefresh": true,
    "templateScope": "local",
    "className": "",
    "x": 620,
    "y": 200,
    "wires": [
      []
    ]
  },
  {
    "id": "gov-flow",
    "type": "tab",
    "label": "Govee Lights",
    "disabled": false,
    "info": "Govee LAN API — 4 bulbs"
  },
  {
    "id": "gov-inject-scan",
    "type": "inject",
    "z": "gov-flow",
    "name": "Discover bulbs",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 2,
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 80,
    "wires": [
      [
        "gov-fn-scan-msg"
      ]
    ]
  },
  {
    "id": "gov-fn-scan-msg",
    "type": "function",
    "z": "gov-flow",
    "name": "build scan",
    "func": "msg.payload = JSON.stringify({\"msg\":{\"cmd\":\"scan\",\"data\":{\"account_topic\":\"reserve\"}}});\nmsg.ip   = \"239.255.255.250\";\nmsg.port = 4001;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 380,
    "y": 80,
    "wires": [
      [
        "gov-udp-out"
      ]
    ]
  },
  {
    "id": "gov-udp-out",
    "type": "udp out",
    "z": "gov-flow",
    "name": "UDP send",
    "addr": "239.255.255.250",
    "iface": "",
    "port": "4001",
    "ipv": "udp4",
    "outport": "",
    "base64": false,
    "multicast": "true",
    "x": 760,
    "y": 200,
    "wires": []
  },
  {
    "id": "gov-udp-ctrl",
    "type": "udp out",
    "z": "gov-flow",
    "name": "UDP ctrl",
    "addr": "",
    "iface": "",
    "port": "",
    "ipv": "udp4",
    "outport": "",
    "base64": false,
    "multicast": "false",
    "x": 760,
    "y": 300,
    "wires": []
  },
  {
    "id": "gov-udp-in",
    "type": "udp in",
    "z": "gov-flow",
    "name": "device responses",
    "iface": "",
    "port": "4002",
    "ipv": "udp4",
    "multicast": "false",
    "group": "",
    "datatype": "utf8",
    "x": 180,
    "y": 160,
    "wires": [
      [
        "gov-fn-parse-scan"
      ]
    ]
  },
  {
    "id": "gov-fn-parse-scan",
    "type": "function",
    "z": "gov-flow",
    "name": "parse + store",
    "func": "try {\n    var d = JSON.parse(msg.payload);\n    if (!d.msg) return null;\n\n    if (d.msg.cmd === 'scan') {\n        var info = d.msg.data;\n        var devs = flow.get('govee_devices') || {};\n        devs[info.device] = { ip: info.ip, sku: info.sku, device: info.device };\n        flow.set('govee_devices', devs);\n        node.status({fill:'green', shape:'dot', text: info.sku + ' @ ' + info.ip});\n        msg.payload = devs;\n        return [msg, null];\n    }\n\n    if (d.msg.cmd === 'devStatus') {\n        var nameMap  = flow.get('govee_names')   || {};\n        var devs2    = flow.get('govee_devices')  || {};\n        var idToName = {};\n        Object.keys(nameMap).forEach(function(n) { idToName[nameMap[n]] = n; });\n        var dev = Object.values(devs2).find(function(x) { return x.ip === msg.ip; });\n        var label = dev ? (idToName[dev.device] || dev.device) : msg.ip;\n\n        var snapshot = flow.get('govee_snapshot') || {};\n        snapshot[label] = d.msg.data;\n        flow.set('govee_snapshot', snapshot);\n        var count = Object.keys(snapshot).length;\n        node.status({fill:'blue', shape:'dot', text: 'status ' + count + '/4'});\n        if (count >= 4) {\n            node.status({fill:'green', shape:'ring', text: 'snapshot ready'});\n            msg.payload = snapshot;\n            return [null, msg];\n        }\n        return null;\n    }\n\n    return null;\n} catch(e) {\n    node.warn('parse error: ' + e.message);\n    return null;\n}",
    "outputs": 2,
    "noerr": 0,
    "x": 400,
    "y": 160,
    "wires": [
      [
        "gov-debug-devices"
      ],
      [
        "gov-debug-status"
      ]
    ]
  },
  {
    "id": "gov-debug-devices",
    "type": "debug",
    "z": "gov-flow",
    "name": "device map",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 600,
    "y": 160,
    "wires": []
  },
  {
    "id": "gov-fn-send",
    "type": "function",
    "z": "gov-flow",
    "name": "send to devices",
    "func": "// Expects: msg.govee_cmd     = {cmd:'...', data:{...}}\n//          msg.govee_targets = 'all' | ['name-or-device-id', ...]\nvar devs     = flow.get('govee_devices') || {};\nvar nameMap  = flow.get('govee_names')   || {};\nif (!Object.keys(devs).length) { node.warn('No Govee devices found - run discovery first'); return null; }\n\nvar targets;\nif (!msg.govee_targets || msg.govee_targets === 'all') {\n    targets = Object.values(devs);\n} else {\n    var ids = Array.isArray(msg.govee_targets) ? msg.govee_targets : [msg.govee_targets];\n    ids = ids.map(function(t) { return nameMap[t] || t; });\n    targets = ids.map(function(id) { return devs[id]; }).filter(Boolean);\n}\nif (!targets.length) { node.warn('No matching Govee devices'); return null; }\n\nvar msgs = targets.map(function(d) {\n    return { payload: JSON.stringify({msg: msg.govee_cmd}), ip: d.ip, port: 4003 };\n});\nreturn [msgs];",
    "outputs": 1,
    "noerr": 0,
    "x": 580,
    "y": 300,
    "wires": [
      [
        "gov-udp-ctrl",
        "gov-debug-udp"
      ]
    ]
  },
  {
    "id": "gov-mqtt-ctrl",
    "type": "mqtt in",
    "z": "gov-flow",
    "name": "home/lights/set",
    "topic": "home/lights/set",
    "qos": "0",
    "datatype": "json",
    "broker": "his-broker",
    "nl": false,
    "rap": false,
    "x": 180,
    "y": 300,
    "wires": [
      [
        "gov-fn-mqtt-ctrl"
      ]
    ]
  },
  {
    "id": "gov-fn-mqtt-ctrl",
    "type": "function",
    "z": "gov-flow",
    "name": "MQTT → Govee cmd",
    "func": "node.warn('SRC:mqtt-ctrl retain=' + msg.retain + ' payload=' + JSON.stringify(msg.payload));\nif (msg.retain) return null;\n// MQTT payload: {cmd, value|r,g,b|kelvin, devices:'all'|[ids]}\nvar p = msg.payload;\nvar gcmd;\nswitch (p.cmd) {\n    case 'turn':       gcmd = {cmd:'turn',       data:{value: p.value ? 1 : 0}}; break;\n    case 'brightness': gcmd = {cmd:'brightness',  data:{value: p.value}}; break;\n    case 'color':      gcmd = {cmd:'colorwc',     data:{color:{r:p.r||0,g:p.g||0,b:p.b||0}, colorTemInKelvin:0}}; break;\n    case 'colortemp':  gcmd = {cmd:'colorwc',     data:{color:{r:0,g:0,b:0}, colorTemInKelvin:p.kelvin||4000}}; break;\n    default: node.warn('Unknown Govee cmd: ' + p.cmd); return null;\n}\nmsg.govee_cmd     = gcmd;\nmsg.govee_targets = p.devices || 'all';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 390,
    "y": 300,
    "wires": [
      [
        "gov-fn-send"
      ]
    ]
  },
  {
    "id": "gov-mqtt-visitor",
    "type": "mqtt in",
    "z": "gov-flow",
    "name": "home/frontdoor/visitor",
    "topic": "home/frontdoor/visitor",
    "qos": "0",
    "datatype": "json",
    "broker": "his-broker",
    "nl": false,
    "rap": false,
    "x": 180,
    "y": 380,
    "wires": [
      [
        "gov-fn-visitor"
      ]
    ]
  },
  {
    "id": "gov-fn-visitor",
    "type": "function",
    "z": "gov-flow",
    "name": "visitor → warm white",
    "func": "node.warn('SRC:visitor retain=' + msg.retain);\nif (msg.retain) return null;\n// Doorbell / motion at front door → warm white\nmsg.govee_cmd     = {cmd:'colorwc', data:{color:{r:0,g:0,b:0}, colorTemInKelvin:3000}};\nmsg.govee_targets = 'all';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 380,
    "wires": [
      [
        "gov-fn-send"
      ]
    ]
  },
  {
    "id": "gov-mqtt-alarm",
    "type": "mqtt in",
    "z": "gov-flow",
    "name": "home/+/alarm",
    "topic": "home/+/alarm",
    "qos": "1",
    "datatype": "json",
    "broker": "his-broker",
    "nl": false,
    "rap": false,
    "x": 180,
    "y": 440,
    "wires": [
      [
        "gov-fn-alarm"
      ]
    ]
  },
  {
    "id": "gov-fn-alarm",
    "type": "function",
    "z": "gov-flow",
    "name": "alarm → red / clear → white",
    "func": "node.warn('SRC:alarm retain=' + msg.retain);\nif (msg.retain) return null;\n// Smoke / CO alert → solid red; clear → restore warm white\nif (!msg.payload) return null;\nif (msg.payload.alert === true) {\n    msg.govee_cmd = {cmd:'colorwc', data:{color:{r:255,g:0,b:0}, colorTemInKelvin:0}};\n} else {\n    msg.govee_cmd = {cmd:'colorwc', data:{color:{r:0,g:0,b:0}, colorTemInKelvin:3000}};\n}\nmsg.govee_targets = 'all';\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 440,
    "wires": [
      [
        "gov-fn-send"
      ]
    ]
  },
  {
    "id": "gov-inject-id-1",
    "type": "inject",
    "z": "gov-flow",
    "name": "lvgrm_2",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "payload": "{\"cmd\": \"turn\", \"value\": 1, \"devices\": [\"lvgrm_2\"]}",
    "payloadType": "json",
    "x": 180,
    "y": 520,
    "wires": [
      [
        "gov-fn-mqtt-ctrl"
      ]
    ]
  },
  {
    "id": "gov-inject-id-2",
    "type": "inject",
    "z": "gov-flow",
    "name": "lvgrm_1",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "payload": "{\"cmd\": \"turn\", \"value\": 1, \"devices\": [\"lvgrm_1\"]}",
    "payloadType": "json",
    "x": 180,
    "y": 580,
    "wires": [
      [
        "gov-fn-mqtt-ctrl"
      ]
    ]
  },
  {
    "id": "gov-inject-id-3",
    "type": "inject",
    "z": "gov-flow",
    "name": "lvgrm_4",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "payload": "{\"cmd\": \"turn\", \"value\": 1, \"devices\": [\"lvgrm_4\"]}",
    "payloadType": "json",
    "x": 180,
    "y": 640,
    "wires": [
      [
        "gov-fn-mqtt-ctrl"
      ]
    ]
  },
  {
    "id": "gov-inject-id-4",
    "type": "inject",
    "z": "gov-flow",
    "name": "lvgrm_3",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "payload": "{\"cmd\": \"turn\", \"value\": 1, \"devices\": [\"lvgrm_3\"]}",
    "payloadType": "json",
    "x": 180,
    "y": 700,
    "wires": [
      [
        "gov-fn-mqtt-ctrl"
      ]
    ]
  },
  {
    "id": "gov-inject-all-off",
    "type": "inject",
    "z": "gov-flow",
    "name": "All OFF",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "payload": "{\"cmd\": \"turn\", \"value\": 0, \"devices\": \"all\"}",
    "payloadType": "json",
    "x": 180,
    "y": 760,
    "wires": [
      [
        "gov-fn-mqtt-ctrl"
      ]
    ]
  },
  {
    "id": "gov-inject-clear-retained",
    "type": "inject",
    "z": "gov-flow",
    "name": "Clear retained MQTT",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 840,
    "wires": [
      [
        "gov-fn-clear-retained"
      ]
    ],
    "onceDelay": 1
  },
  {
    "id": "gov-fn-clear-retained",
    "type": "function",
    "z": "gov-flow",
    "name": "build clear msgs",
    "func": "var topics = [\n    'home/lights/set',\n    'home/frontdoor/visitor',\n    'home/frontdoor/alarm'\n];\nreturn topics.map(function(t) {\n    return { topic: t, payload: '', retain: true };\n});",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 840,
    "wires": [
      [
        "gov-mqtt-clear-out"
      ]
    ]
  },
  {
    "id": "gov-mqtt-clear-out",
    "type": "mqtt out",
    "z": "gov-flow",
    "name": "clear retained",
    "topic": "",
    "qos": "0",
    "retain": "true",
    "broker": "his-broker",
    "x": 620,
    "y": 840,
    "wires": []
  },
  {
    "id": "gov-inject-names",
    "type": "inject",
    "z": "gov-flow",
    "name": "Set bulb names",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 5,
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 920,
    "wires": [
      [
        "gov-fn-set-names"
      ]
    ]
  },
  {
    "id": "gov-fn-set-names",
    "type": "function",
    "z": "gov-flow",
    "name": "store name map",
    "func": "flow.set('govee_names', {\n    'lvgrm_1': '47:A7:5C:E7:53:F0:80:74',\n    'lvgrm_2': '23:99:5C:E7:53:E6:17:B2',\n    'lvgrm_3': '10:31:5C:E7:53:ED:FA:78',\n    'lvgrm_4': '15:A2:5C:E7:53:F2:38:D8',\n});\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 400,
    "y": 920,
    "wires": [
      []
    ]
  },
  {
    "id": "gov-inject-read-state",
    "type": "inject",
    "z": "gov-flow",
    "name": "Read state",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 1000,
    "wires": [
      [
        "gov-fn-query-status"
      ]
    ]
  },
  {
    "id": "gov-fn-query-status",
    "type": "function",
    "z": "gov-flow",
    "name": "query devStatus",
    "func": "flow.set('govee_snapshot', {});\nvar devs = flow.get('govee_devices') || {};\nif (!Object.keys(devs).length) { node.warn('Run discovery first'); return null; }\nvar msgs = Object.values(devs).map(function(d) {\n    return { payload: JSON.stringify({msg:{cmd:'devStatus',data:{}}}), ip: d.ip, port: 4003 };\n});\nreturn [msgs];",
    "outputs": 1,
    "noerr": 0,
    "x": 390,
    "y": 1000,
    "wires": [
      [
        "gov-udp-ctrl",
        "gov-debug-udp"
      ]
    ]
  },
  {
    "id": "gov-debug-status",
    "type": "debug",
    "z": "gov-flow",
    "name": "state snapshot",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "payload",
    "targetType": "msg",
    "x": 620,
    "y": 160,
    "wires": []
  },
  {
    "id": "v2-page-govee",
    "type": "ui-page",
    "name": "Govee Lights",
    "ui": "v2-ui-base",
    "path": "/govee",
    "icon": "mdi-lightbulb",
    "layout": "notebook",
    "theme": "8caffb684107c6b6",
    "order": 6
  },
  {
    "id": "v2-grp-govee-presets",
    "type": "ui-group",
    "name": "Presets",
    "page": "v2-page-govee",
    "width": "12",
    "height": "1",
    "order": 1,
    "showTitle": true,
    "className": "",
    "visible": "true"
  },
  {
    "id": "v2-grp-govee-adjust",
    "type": "ui-group",
    "name": "Adjust",
    "page": "v2-page-govee",
    "width": "12",
    "height": "1",
    "order": 2,
    "showTitle": true,
    "className": "",
    "visible": "true"
  },
  {
    "id": "v2-grp-govee-save",
    "type": "ui-group",
    "name": "Save Preset",
    "page": "v2-page-govee",
    "width": "12",
    "height": "1",
    "order": 4,
    "showTitle": true,
    "className": "",
    "visible": "true"
  },
  {
    "id": "v2-slider-brightness",
    "type": "ui-slider",
    "z": "gov-flow",
    "group": "v2-grp-govee-adjust",
    "name": "Brightness",
    "label": "Brightness  0 ─────────────── 100",
    "order": 1,
    "width": "12",
    "height": "1",
    "passthru": false,
    "outs": "end",
    "min": 0,
    "max": 100,
    "step": 1,
    "topic": "brightness",
    "topicType": "str",
    "x": 210,
    "y": 1340,
    "wires": [
      [
        "gov-fn-all-brightness"
      ]
    ]
  },
  {
    "id": "v2-slider-colortemp",
    "type": "ui-slider",
    "z": "gov-flow",
    "group": "v2-grp-govee-adjust",
    "name": "Color Temp",
    "label": "Color Temp  Warm 2700K ──── Cool 6500K",
    "order": 2,
    "width": "12",
    "height": "1",
    "passthru": false,
    "outs": "end",
    "min": 2700,
    "max": 6500,
    "step": 100,
    "topic": "colortemp",
    "topicType": "str",
    "x": 210,
    "y": 1400,
    "wires": [
      [
        "gov-fn-all-colortemp"
      ]
    ]
  },
  {
    "id": "gov-file-write-presets",
    "type": "file",
    "z": "gov-flow",
    "name": "write presets.json",
    "filename": "C:\\Users\\johan\\.node-red\\projects\\Home_PTRH\\govee_presets.json",
    "filenameType": "str",
    "appendNewline": false,
    "createDir": false,
    "overwriteFile": "true",
    "encoding": "none",
    "x": 680,
    "y": 1520,
    "wires": [
      []
    ]
  },
  {
    "id": "gov-inject-load-presets",
    "type": "inject",
    "z": "gov-flow",
    "name": "Load presets",
    "props": [
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 8,
    "payload": "",
    "payloadType": "date",
    "x": 200,
    "y": 1640,
    "wires": [
      [
        "gov-file-read-presets"
      ]
    ]
  },
  {
    "id": "gov-file-read-presets",
    "type": "file in",
    "z": "gov-flow",
    "name": "read presets.json",
    "filename": "C:\\Users\\johan\\.node-red\\projects\\Home_PTRH\\govee_presets.json",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "none",
    "x": 420,
    "y": 1640,
    "wires": [
      [
        "gov-fn-load-presets"
      ]
    ]
  },
  {
    "id": "gov-fn-load-presets",
    "type": "function",
    "z": "gov-flow",
    "name": "parse presets",
    "func": "try {\n    var presets = JSON.parse(msg.payload);\n    flow.set('govee_presets', presets);\n    node.status({fill:'green', shape:'dot', text: Object.keys(presets).length + ' presets loaded'});\n} catch(e) {\n    node.status({fill:'yellow', shape:'ring', text: 'no presets file yet'});\n}\nreturn null;",
    "outputs": 1,
    "noerr": 0,
    "x": 640,
    "y": 1640,
    "wires": [
      []
    ]
  },
  {
    "id": "v2-btn-evening",
    "type": "ui-button",
    "z": "gov-flow",
    "group": "v2-grp-govee-presets",
    "name": "Evening",
    "label": "Evening",
    "order": 1,
    "width": "3",
    "height": "2",
    "icon": "",
    "iconPosition": "left",
    "payload": "Evening",
    "payloadType": "str",
    "topic": "preset",
    "topicType": "str",
    "buttonColor": "#f5a623",
    "textColor": "#000000",
    "iconColor": "#000000",
    "className": "",
    "x": 200,
    "y": 1100,
    "wires": [
      [
        "gov-fn-apply-preset"
      ]
    ]
  },
  {
    "id": "v2-btn-bright",
    "type": "ui-button",
    "z": "gov-flow",
    "group": "v2-grp-govee-presets",
    "name": "Bright",
    "label": "Bright",
    "order": 2,
    "width": "3",
    "height": "2",
    "icon": "",
    "iconPosition": "left",
    "payload": "Bright",
    "payloadType": "str",
    "topic": "preset",
    "topicType": "str",
    "buttonColor": "#fffde7",
    "textColor": "#000000",
    "iconColor": "#000000",
    "className": "",
    "x": 200,
    "y": 1160,
    "wires": [
      [
        "gov-fn-apply-preset"
      ]
    ]
  },
  {
    "id": "v2-btn-movie",
    "type": "ui-button",
    "z": "gov-flow",
    "group": "v2-grp-govee-presets",
    "name": "Movie",
    "label": "Movie",
    "order": 3,
    "width": "3",
    "height": "2",
    "icon": "",
    "iconPosition": "left",
    "payload": "Movie",
    "payloadType": "str",
    "topic": "preset",
    "topicType": "str",
    "buttonColor": "#4a3580",
    "textColor": "#ffffff",
    "iconColor": "#ffffff",
    "className": "",
    "x": 200,
    "y": 1220,
    "wires": [
      [
        "gov-fn-apply-preset"
      ]
    ]
  },
  {
    "id": "v2-btn-alloff",
    "type": "ui-button",
    "z": "gov-flow",
    "group": "v2-grp-govee-presets",
    "name": "All Off",
    "label": "All Off",
    "order": 4,
    "width": "3",
    "height": "2",
    "icon": "",
    "iconPosition": "left",
    "payload": "All Off",
    "payloadType": "str",
    "topic": "preset",
    "topicType": "str",
    "buttonColor": "#333333",
    "textColor": "#ffffff",
    "iconColor": "#ffffff",
    "className": "",
    "x": 200,
    "y": 1280,
    "wires": [
      [
        "gov-fn-apply-preset"
      ]
    ]
  },
  {
    "id": "v2-btn-save-evening",
    "type": "ui-button",
    "z": "gov-flow",
    "group": "v2-grp-govee-save",
    "name": "Save Evening",
    "label": "Save Evening",
    "order": 1,
    "width": "4",
    "height": "1",
    "icon": "",
    "iconPosition": "left",
    "payload": "Evening",
    "payloadType": "str",
    "topic": "preset",
    "topicType": "str",
    "buttonColor": "#f5a623",
    "textColor": "#000000",
    "iconColor": "#000000",
    "className": "",
    "x": 210,
    "y": 1460,
    "wires": [
      [
        "gov-fn-save-preset"
      ]
    ]
  },
  {
    "id": "v2-btn-save-bright",
    "type": "ui-button",
    "z": "gov-flow",
    "group": "v2-grp-govee-save",
    "name": "Save Bright",
    "label": "Save Bright",
    "order": 2,
    "width": "4",
    "height": "1",
    "icon": "",
    "iconPosition": "left",
    "payload": "Bright",
    "payloadType": "str",
    "topic": "preset",
    "topicType": "str",
    "buttonColor": "#fffde7",
    "textColor": "#000000",
    "iconColor": "#000000",
    "className": "",
    "x": 210,
    "y": 1520,
    "wires": [
      [
        "gov-fn-save-preset"
      ]
    ]
  },
  {
    "id": "v2-btn-save-movie",
    "type": "ui-button",
    "z": "gov-flow",
    "group": "v2-grp-govee-save",
    "name": "Save Movie",
    "label": "Save Movie",
    "order": 3,
    "width": "4",
    "height": "1",
    "icon": "",
    "iconPosition": "left",
    "payload": "Movie",
    "payloadType": "str",
    "topic": "preset",
    "topicType": "str",
    "buttonColor": "#4a3580",
    "textColor": "#ffffff",
    "iconColor": "#ffffff",
    "className": "",
    "x": 210,
    "y": 1580,
    "wires": [
      [
        "gov-fn-save-preset"
      ]
    ]
  },
  {
    "id": "v2-grp-govee-color",
    "type": "ui-group",
    "name": "Color",
    "page": "v2-page-govee",
    "width": "12",
    "height": "1",
    "order": 3,
    "showTitle": true,
    "className": "",
    "visible": "true"
  },
  {
    "id": "gov-fn-apply-preset",
    "type": "function",
    "z": "gov-flow",
    "name": "apply preset",
    "func": "var name    = msg.payload;\nvar devs    = flow.get('govee_devices') || {};\nvar nameMap = flow.get('govee_names')   || {};\nif (!Object.keys(devs).length) { node.warn('Run discovery first'); return null; }\n\nif (name === 'All Off') {\n    flow.set('govee_current', {onOff:0, brightness:0, colortemp:4000, color:{r:0,g:0,b:0}, mode:'white'});\n    var msgs = Object.values(devs).map(function(d) {\n        return {payload:JSON.stringify({msg:{cmd:'turn',data:{value:0}}}), ip:d.ip, port:4003};\n    });\n    return [msgs, null];\n}\n\nvar presets = flow.get('govee_presets') || {};\nvar preset  = presets[name];\nif (!preset) { node.warn('Preset not found: ' + name); return null; }\nflow.set('govee_current', preset);\n\nvar msgs = [];\nObject.values(devs).forEach(function(d) {\n    msgs.push({payload:JSON.stringify({msg:{cmd:'turn',      data:{value:preset.onOff}}}), ip:d.ip, port:4003});\n    msgs.push({payload:JSON.stringify({msg:{cmd:'brightness', data:{value:preset.brightness}}}), ip:d.ip, port:4003});\n    var colorData = preset.mode === 'color'\n        ? {color: preset.color, colorTemInKelvin: 0}\n        : {color: {r:0,g:0,b:0}, colorTemInKelvin: preset.colortemp || 4000};\n    msgs.push({payload:JSON.stringify({msg:{cmd:'colorwc', data:colorData}}), ip:d.ip, port:4003});\n});\nreturn [msgs, {payload: preset}];",
    "outputs": 2,
    "noerr": 0,
    "x": 440,
    "y": 1160,
    "wires": [
      [
        "gov-udp-ctrl",
        "gov-debug-udp"
      ],
      [
        "gov-fn-update-sliders"
      ]
    ]
  },
  {
    "id": "gov-fn-save-preset",
    "type": "function",
    "z": "gov-flow",
    "name": "save preset",
    "func": "var name    = msg.payload;\nvar current = flow.get('govee_current') || {};\nif (!Object.keys(current).length) { node.warn('Apply a preset first to initialise state'); return null; }\nvar presets = flow.get('govee_presets') || {};\npresets[name] = JSON.parse(JSON.stringify(current));\nflow.set('govee_presets', presets);\nnode.status({fill:'green', shape:'dot', text: name + ' saved'});\nmsg.payload = JSON.stringify(presets, null, 2);\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 1520,
    "wires": [
      [
        "gov-file-write-presets"
      ]
    ]
  },
  {
    "id": "gov-fn-all-brightness",
    "type": "function",
    "z": "gov-flow",
    "name": "brightness → all",
    "func": "var current = flow.get('govee_current') || {};\ncurrent.brightness = msg.payload;\nflow.set('govee_current', current);\nvar devs = flow.get('govee_devices') || {};\nvar msgs = Object.values(devs).map(function(d) {\n    return {payload:JSON.stringify({msg:{cmd:'brightness',data:{value:msg.payload}}}), ip:d.ip, port:4003};\n});\nreturn [msgs];",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 1340,
    "wires": [
      [
        "gov-udp-ctrl",
        "gov-debug-udp"
      ]
    ]
  },
  {
    "id": "gov-fn-all-colortemp",
    "type": "function",
    "z": "gov-flow",
    "name": "colortemp → all",
    "func": "node.warn('SRC:colortemp-slider value=' + msg.payload);\nvar current = flow.get('govee_current') || {};\ncurrent.colortemp = msg.payload;\ncurrent.mode = 'white';\nflow.set('govee_current', current);\nvar devs = flow.get('govee_devices') || {};\nvar msgs = Object.values(devs).map(function(d) {\n    return {payload:JSON.stringify({msg:{cmd:'colorwc',data:{color:{r:0,g:0,b:0},colorTemInKelvin:msg.payload}}}), ip:d.ip, port:4003};\n});\nreturn [msgs];",
    "outputs": 1,
    "noerr": 0,
    "x": 450,
    "y": 1400,
    "wires": [
      [
        "gov-udp-ctrl",
        "gov-debug-udp"
      ]
    ]
  },
  {
    "id": "gov-fn-color-cmd",
    "type": "function",
    "z": "gov-flow",
    "name": "color cmd",
    "func": "node.warn('SRC:color-cmd payload=' + JSON.stringify(msg.payload));\nvar current = flow.get('govee_current') || {};\nif (msg.payload.mode === 'color') {\n    current.color = {r:msg.payload.r, g:msg.payload.g, b:msg.payload.b};\n    current.mode  = 'color';\n} else {\n    current.mode     = 'white';\n    current.colortemp = current.colortemp || 4000;\n}\nflow.set('govee_current', current);\nvar devs = flow.get('govee_devices') || {};\nvar data = current.mode === 'color'\n    ? {color: current.color, colorTemInKelvin: 0}\n    : {color: {r:0,g:0,b:0}, colorTemInKelvin: current.colortemp};\nvar msgs = Object.values(devs).map(function(d) {\n    return {payload:JSON.stringify({msg:{cmd:'colorwc',data:data}}), ip:d.ip, port:4003};\n});\nreturn [msgs];",
    "outputs": 1,
    "noerr": 0,
    "x": 440,
    "y": 1720,
    "wires": [
      [
        "gov-udp-ctrl",
        "gov-debug-udp"
      ]
    ]
  },
  {
    "id": "gov-fn-update-sliders",
    "type": "function",
    "z": "gov-flow",
    "name": "update sliders",
    "func": "var p = msg.payload;\nif (!p) return null;\nvar brightness = p.brightness !== undefined ? p.brightness : 50;\nvar colortemp  = p.colortemp  || 4000;\nreturn [\n    {payload: brightness},\n    {payload: colortemp},\n    {payload: {color: p.color || {r:255,g:136,b:0}}}\n];",
    "outputs": 3,
    "noerr": 0,
    "x": 460,
    "y": 1700,
    "wires": [
      [
        "v2-slider-brightness"
      ],
      [
        "v2-slider-colortemp"
      ],
      [
        "v2-tmpl-color-picker"
      ]
    ]
  },
  {
    "id": "v2-tmpl-color-picker",
    "type": "ui-template",
    "z": "gov-flow",
    "group": "v2-grp-govee-color",
    "name": "Color Picker",
    "order": 1,
    "width": "12",
    "height": "4",
    "format": "<template>\n  <div style=\"padding:8px\">\n    <label style=\"display:block;margin-bottom:6px;font-size:14px\">Color</label>\n    <input type=\"color\" v-model=\"color\" @change=\"onPick\"\n           style=\"width:100%;height:64px;border:none;border-radius:6px;cursor:pointer;padding:2px\"/>\n    <button @click=\"onWhite\"\n            style=\"margin-top:8px;width:100%;height:40px;border:none;border-radius:6px;\n                   background:#fffde7;color:#333;font-size:14px;cursor:pointer\">\n      Back to White Light\n    </button>\n  </div>\n</template>\n<script>\n  export default {\n    data() { return { color: '#ff8800' } },\n    watch: {\n      msg(v) {\n        if (v && v.payload && v.payload.color) {\n          const c = v.payload.color;\n          this.color = '#'\n            + (c.r||0).toString(16).padStart(2,'0')\n            + (c.g||0).toString(16).padStart(2,'0')\n            + (c.b||0).toString(16).padStart(2,'0');\n        }\n      }\n    },\n    methods: {\n      onPick() {\n        const h = this.color;\n        const r = parseInt(h.slice(1,3),16);\n        const g = parseInt(h.slice(3,5),16);\n        const b = parseInt(h.slice(5,7),16);\n        this.send({payload:{mode:'color',r,g,b}});\n      },\n      onWhite() { this.send({payload:{mode:'white'}}); }\n    }\n  }\n</script>",
    "storeOutMessages": false,
    "passthru": false,
    "resendOnRefresh": false,
    "templateScope": "local",
    "className": "",
    "x": 210,
    "y": 1720,
    "wires": [
      [
        "gov-fn-color-cmd"
      ]
    ]
  },
  {
    "id": "gov-debug-udp",
    "type": "debug",
    "z": "gov-flow",
    "name": "UDP out tap",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": true,
    "complete": "true",
    "targetType": "full",
    "x": 960,
    "y": 300,
    "wires": []
  }
]